 
@{
    ViewBag.Title = "Antecedentes";
}

<h2 class="display-4">Antecedentes</h2>

<p class="lead">
    Antecedentes Históricos del COPLADENAY
    La función de planeación en el Estado, se institucionaliza a través de la Ley que crea “El Comité de Planeación para el Desarrollo del Estado de Nayarit”, el cual surge como organismo público con personalidad jurídica y patrimonio propio que opera como canal único de comunicación y coordinación entre los tres órganos de gobierno y los sectores privado y social, y que se conforma con los comités promotores de desarrollo de los municipios, para integrar el Sistema Estatal y Nacional de Planeación Democrática.  
</p>
<p class="lead">
    Posteriormente, mediante el Decreto No. 7731 del 3 de octubre de 1990, se efectuaron modificaciones al artículo 23 de la Ley Orgánica del Poder Ejecutivo del Estado. Dichas modificaciones fortalecieron las funciones de Planeación y al complementarlas con las funciones del COPLADE, surgió la Secretaría de Planeación y Desarrollo.

</p>
<p class="lead">
    Asimismo, en 1994 se definen con mayor claridad las funciones y atribuciones de la Secretaría de Planeación y Desarrollo como dependencia rectora, normativa y globalizadora del proceso de planeación, promoción y financiamiento del desarrollo integral de la entidad.

</p>
<p class="lead">
    Con fecha 02 de Septiembre de 2000, dentro del programa de Reestructuración de la Administración Pública, se publica en el Periódico Oficial la separación de las funciones de planeación y desarrollo, dando origen a la Secretaría de Planeación.
</p>