
@{
    ViewBag.Title = "Directorio";
}

<h2 class="display-4">Directorio de servidores públicos</h2>
<p class="lead">
    Comité de Planeación para el Desarrollo del Estado de Nayarit
</p>
<p class="lead">
    <strong>Directorio de Servidores Públicos</strong>
</p>
<p class="lead">
    Av. Insurgentes Esq. Rey Nayar S/N col. Burócratas Federal. C.P. 63156. Tepic, Nayarit.
</p>
<hr style="clear:both" />
<!--Coordinador General-->
<h2 style="background-color:darkgray">&nbsp;</h2>
<div>
    <div class="left">
        <div class="">
            <div style="float:left">
                <img src="~/Content/Files/Directorio/imagenes_directorio/Lic. David Guerrero Castellon.jpg" style="width:100%" />
            </div>
            <div style="float:right">
                <a href="~/Content/Files/Directorio/curriculums/FICHA_CURRICULAR_DAVID_GUERRERO_CASTELLoN_COORDINADOR_GRAL.pdf" target="_blank">
                    <img src="~/Content/Files/Directorio/curriculums/FC_acrobat-02.png" alt="" width:100%>
                </a>
            </div>
            <div class="text-left" style="margin-right: 25%;">
                <h3 style="font-size:1.2em;text-align:center">Lic. José David Guerrero Castellón</h3>
                <h3 style="font-size:1.2em;text-align:center">Coordinador General</h3>
                <p class="f12" align="center">
                    <span class="f14">Conmutador 211 92 00 Ext 29231</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Unidad de Transparencia-->
<h2 style="background-color:darkgray">&nbsp;</h2>
<div>
    <div class="left">
        <div class="">
            <div style="float:left">
                <img src="~/Content/Files/Directorio/imagenes_directorio/Lic. Juan Pablo Lopez Diaz.jpg" style="width:100%" />
            </div>
            <div style="float:right">
                <a href="~/Content/Files/Directorio/curriculums/FICHA_CURRICULAR_JUAN_PABLO_coplade.pdf" target="_blank">
                    <img src="~/Content/Files/Directorio/curriculums/FC_acrobat-02.png" alt="" width:100%>
                </a>
            </div>
            <div class="text-left" style="margin-right: 25%;">
                <h3 style="font-size:1.2em;text-align:center">Lic. Juan Pablo López Diaz</h3>
                <h3 style="font-size:1.2em;text-align:center">Unidad de Transparencia</h3>
                <p class="f12" align="center">
                    <span class="f14">Conmutador 211 92 00 Ext 29275</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Operacion y Control Financiero-->
<h2 style="background-color:darkgray">&nbsp;</h2>
<div>
    <div class="left">
        <div class="">
            <div style="float:left">
                <img src="~/Content/Files/Directorio/imagenes_directorio/MDOH Mayra Janet Morales Rojo.jpg" style="width:100%" />
            </div>
            <div style="float:right">
                <a href="~/Content/Files/Directorio/curriculums/1. Ficha curricular COPLADE MDOH  Mayra Morales.pdf" target="_blank">
                    <img src="~/Content/Files/Directorio/curriculums/FC_acrobat-02.png" alt="" width:100%>
                </a>
            </div>
            <div class="text-left" style="margin-right: 25%;">
                <h3 style="font-size:1.2em;text-align:center">M.D.O.H. Mayra Janet Morales Rojo</h3>
                <h3 style="font-size:1.2em;text-align:center">Directoria de Operación y Control Financiero</h3>
                <p class="f12" align="center">
                    <span class="f14">Conmutador 211 92 00 Ext 29234</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Planeación y Programación-->
<h2 style="background-color:darkgray">&nbsp;</h2>
<div>
    <div class="left">
        <div class="">
            <div style="float:left">
                <img src="~/Content/Files/Directorio/imagenes_directorio/Dra. Reina Rosales Andrade_2.jpg" style="width:100%" />
            </div>
            <div style="float:right">
                <a href="~/Content/Files/Directorio/curriculums/FICHA_CURRICULAR_ReinaRosales_coplade.pdf" target="_blank">
                    <img src="~/Content/Files/Directorio/curriculums/FC_acrobat-02.png" alt="" width:100%>
                </a>
            </div>
            <div class="text-left" style="margin-right: 25%;">
                <h3 style="font-size:1.2em;text-align:center">Dra. Reina Rosales Andrade</h3>
                <h3 style="font-size:1.2em;text-align:center">Directora de Planeación y Programación</h3>
                <p class="f12" align="center">
                    <span class="f14">Conmutador 211 92 00 Ext 29255</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!--Supervisión-->
<h2 style="background-color:darkgray">&nbsp;</h2>
<div>
    <div class="left">
        <div class="">
            <div style="float:left">
                <img src="~/Content/Files/Directorio/imagenes_directorio/PARA CURRICULA.jpg" style="width:100%" />
            </div>
            <div style="float:right">
                <a href="~/Content/Files/Directorio/curriculums/1. FICHA CURRICULAR ING. OMAR RAMIREZ dir. supervision.pdf" target="_blank">
                    <img src="~/Content/Files/Directorio/curriculums/FC_acrobat-02.png" alt="" width:100%>
                </a>
            </div>
            <div class="text-left" style="margin-right: 25%;">
                <h3 style="font-size:1.2em;text-align:center">Ing. Omar Ramírez González</h3>
                <h3 style="font-size:1.2em;text-align:center">Director de Supervisión</h3>
                <p class="f12" align="center">
                    <span class="f14">Conmutador 211 92 00 Ext 2925</span>
                </p>
            </div>
        </div>
    </div>
</div>
<h2 style="background-color:darkgray">&nbsp;</h2>