
@{
    ViewBag.Title = "Funciones";
}

<h2 class="display-4">Funciones</h2>
<ul class="lead">
    <li>Promover y coadyuvar en la elaboración y actualización del plan estatal de desarrollo.</li>
    <li>Dar seguimiento, control y evaluación del plan estatal de desarrollo.</li>
    <li>Promover la celebración de convenios de concertación social con los sectores social y privado e instituciones de educación superior y centros de investigación.</li>
    <li>Formular y proponer al ejecutivo estatal programas de inversión, gasto y financiamiento.</li>
    <li>Promover y apoyar en la instalación y operatividad de los comités de planeación para el desarrollo municipal.</li>
    <li>Coordinar y presentar los programas sectoriales y especiales previa aprobación de la seplan.</li>

</ul>

