
@{
    ViewBag.Title = "Mision_Vision";
}

<h2 class="display-4">Misión</h2>
<p class="lead">
    Coordinar y vincular los tres órdenes de Gobierno y los diversos sectores de la población, en un espacio democrático y participativo para la planeación del desarrollo del Estado, que permita conjuntar los esfuerzos que en materia de planeación realizan la Federación, El Estado y los Municipios.
</p>
<h2 class="display-4">Visión</h2>
<p class="lead">
    Ser el factor fundamental del desarrollo integral, sustentable y regionalmente articulado, a través de la planeación, las políticas públicas y la coordinación de esfuerzos de los tres órdenes de gobierno los poderes locales y el conjunto de los sectores sociales y productivos.
</p>




