
@{
    ViewBag.Title = "Objetivo";
}

<h2 class="display-4">Objetivo General</h2>

<p class="lead">
    Planear, dirigir y coordinar la elaboración e implantación de planes y programas que cuadyuven al desarrollo regional y seectorial del Estado.
    Asímismo, evaluar el cumplimiento de las acciones que se hayan establecido en los planes y programas que sean aprobados por el titular del Ejecutivo.
</p>

