
@{
    ViewBag.Title = "Organigrama";
}

<h1 class="display-4">Organigrama General</h1>
<p class="lead">
    Organigrama del Comité de Planeación para el Desarrollo del Estado Nayarit
    (COPLADENAY)
</p>
<img src="~/Content/Files/organigramas/organigrama_copladenay_7-02-19.jpg" style="width:100%;" />