
@{
    ViewBag.Title = "Asamblea_General";
}

<h2 class="display-4">Asamblea General</h2>
<div class="container">
    <!--Years-->
    <hr />
    <div>
        <p class="lead">2011</p>
        <a href="~/Content/Files/Asamblea General/Acta Asamblea Instalacion General 2011-2017.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-25-octubre.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2012</p>
        <a href="~/Content/Files/Asamblea General/ACTA DE LA PRIMERA ASAMBLEA GENERAL ORDINARIA DE 2012.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-11-24-Marzo.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Asamblea General/ACTA DE LA SEGUNDA ASAMBLEA GENERAL ORDINARIA DE 2012.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-14-09-Diciembre.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2013</p>
        <a href="~/Content/Files/Asamblea General/ACTA DE LA PRIMERA ASAMBLEA GENERAL ORDINARIA DE 2013.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-27-Febrero.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Asamblea General/ACTA DE LA SEGUNDA ASAMBLEA GENERAL ORDINARIA DE 2013.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-13_09-Diciembre.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2014</p>
        <a href="~/Content/Files/Asamblea General/ACTA DE LA PRIMERA ASAMBLEA GENERAL ORDINARIA DE 2014.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-27-Febrero.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Asamblea General/ACTA DE LA SEGUNDA ASAMBLEA GENERAL ORDINARIA DE 2014.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-14-09-Diciembre.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2015</p>
        <a href="~/Content/Files/Asamblea General/ACTA DE LA PRIMERA ASAMBLEA GENERAL ORDINARIA DE 2015.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-14-31-Enero.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Asamblea General/ACTA DE LA SEGUNDA ASAMBLEA GENERAL ORDINARIA DE 2015.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-15_08-Diciembre.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2016</p>
        <a href="~/Content/Files/Asamblea General/ACTA DE LA PRIMERA ASAMBLEA GENERAL ORDINARIA DE 2016.pdf" target="_blank">
            <img src="~/Content/Files/Asamblea General/botones_ASAMBLEA-16_14-Marzo.jpg" />
        </a>
    </div>
</div>

