
@{
    ViewBag.Title = "CalendarioSesiones15";
}
<h2 class="display-4">Calendario de Sesiones de los Subcomités del COPLADENAY 2015</h2>
<div>
    <img src="~/Content/Files/Subcomites/sectoriales_2015.JPG" style="width:100%" />
    <img src="~/Content/Files/Subcomites/especiales_2015.JPG" style="width:100%" />
    <img src="~/Content/Files/Subcomites/regionales_2015.JPG" style="width:100%" />
</div>


