
@{
    ViewBag.Title = "CalendarioSesiones13";
}
<h2 class="display-4">Calendario de Sesiones de los Subcomités del COPLADENAY 2013</h2>
<div>
    <img src="~/Content/Files/Subcomites/sectoriales_2013.JPG" style="width:100%" />
    <img src="~/Content/Files/Subcomites/especiales_2013.JPG" style="width:100%" />
    <img src="~/Content/Files/Subcomites/regionales_2013.JPG" style="width:100%" />
</div>
