
@{
    ViewBag.Title = "CalendarioSesiones17";
}
<h2 class="display-4">Calendario de Sesiones de los Subcomités del COPLADENAY 2017</h2>
<div>
    <img src="~/Content/Files/Subcomites/sectoriales_2017.JPG" style="width:100%" />
    <img src="~/Content/Files/Subcomites/especiales_2017.JPG" style="width:100%" />
    <img src="~/Content/Files/Subcomites/regionales_2017.JPG" style="width:100%" />
</div>

