
@{
    ViewBag.Title = "Comision_Permanente";
}
<h2 class="display-4">Comisión Permanente</h2>
<div class="container">
    <!--Years-->
    <hr />
    <div>
        <p class="lead">2011</p>
        <a href="~/Content/Files/Comisiones permanentes/PRIMERA COMISION PERMANENTE  2011.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-3-Dic.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2012</p>
        <a href="~/Content/Files/Comisiones permanentes/PRIMERA COMISION PERMANENTE  2012.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-18-Abril.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/SEGUNDA COMISION PERMANENTE  2012.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-28-Ago.jpg" />
        </a>
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/TERCERA COMISION PERMANENTE  2012.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-4-Dic.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2013</p>
        <a href="~/Content/Files/Comisiones permanentes/PRIMERA COMISION PERMANENTE  2013.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-3-Abril.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/SEGUNDA COMISION PERMANENTE 2013.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-29-Julio.jpg"  />
        </a>
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/TERCERA COMISION PERMANENTE  2012.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-15-Nov.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2014</p>
        <a href="~/Content/Files/Comisiones permanentes/PRIMERA COMISION PERMANENTE  2014.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-16-Mayo.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/SEGUNDA COMISION PERMANENTE  2014.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-18-Julio.jpg" />
        </a>
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/TERCERA COMISION PERMANENTE  2014.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-29-Agosto.jpg" />
        </a>
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/CUARTA COMISION PERMANENTE  2014.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-18-Diciembre.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2015</p>
        <a href="~/Content/Files/Comisiones permanentes/PRIMERA COMISION PERMANENTE  2015.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-16-Abril.jpg" />
        </a>
        <!--Jumps-->
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/SEGUNDA COMISION PERMANENTE  2015.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-19-Julio.jpg" />
        </a>
        <br />
        <br />
        <a href="~/Content/Files/Comisiones permanentes/TERCERA COMISION PERMANENTE  2015.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-28-Agosto-2015.jpg" />
        </a>
    </div>
    <hr />
    <div>
        <p class="lead">2016</p>
        <a href="~/Content/Files/Comisiones permanentes/PRIMERA COMISION PERMANENTE  2016.pdf" target="_blank">
            <img src="~/Content/Files/Comisiones permanentes/Comision-Permanente-11-Abril.jpg" />
        </a>
    </div>
    <hr />
</div>
