@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <!--Youtube-->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoCWP08XqYQ?rel=0" allowfullscreen></iframe>
    </div>
</div>

<div class="row">

</div>