
@{
    ViewBag.Title = "ActasComite2015";
}

<link href="~/Content/css/Design.css" rel="stylesheet" />
<h2 class="display-4">Actas del Comité de Información 2015</h2>
<hr />
<div>
    <h1 class="lead"><strong>Sesiones ordinarias</strong></h1>
    <div class="">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA COPLADENAY ENERO 2015.pdf">Enero 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA COPLADENAY FEBRERO 2015.pdf">Febrero 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA COPLADENAY-marzo 2015.pdf">Marzo 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA COPLADENAY ABRIL 2015.pdf">Abril 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA DE mayo 2015 COPLADENAY.pdf">Mayo 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA COPLADE JUNIO 2015 (1).pdf">Junio 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA COPLADE AGOSTO 2015.pdf">Agosto 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA SO_CI_ OCTUBRE-COPLADENAY-2015.pdf">Octubre 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA SO_CI_ NOVIEMBRE-COPLADENAY-2015.pdf">Noviembre 2015</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2015/ACTA SO_CI_ DICIEMBRE-COPLADENAY-2015.pdf">Diciembre 2015</a>
        <br />
    </div>

</div>

