
@{
    ViewBag.Title = "ActasComite2014";
}
<link href="~/Content/css/Design.css" rel="stylesheet" />
<h2 class="display-4">Actas del Comité de Información 2014</h2>
<hr />
<div>
    <h1 class="lead"><strong>Sesiones ordinarias</strong></h1>
    <div class="">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/1 ACTA SO_CI_COPLADENAY_ENERO 2014.pdf">Enero 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/2 ACTA SO_CI_COPLADENAY_ FEBRERO 2014.pdf">Febrero 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/3 ACTA SO_CI_COPLADENAY_MARZO 2014.pdf">Marzo 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/4 ACTA_SO_CI_COPLADENAY_ ABRIL 2014.pdf">Abril 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/5 ACTA SO_CI_ COPLADENAY_ MAYO 2014.pdf">Mayo 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/6 ACTA SO COPLA JUNIO 2014.pdf">Junio 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/7 ACTA SO_CI_COPLADENAY_ JULIO-2014.pdf">Julio 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/8 ACTA  COPLA AGOSTO 2014.pdf">Agosto 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/9 ACTA SEPTIEMBRE COPLA.pdf">Septiembre 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/10 ACTAS COPLA OCTUBRE 2014.pdf">Octubre 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/11 ACTA COPLADENAY NOVIEMBRE 2014.pdf">Noviembre 2014</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2014/SO_CI_COPLADENAY_DICIEMBRE 2014.pdf">Diciembre 2014</a>
        <br />
    </div>
    
</div>
