
@{
    ViewBag.Title = "ActasComite2016";
}

<link href="~/Content/css/Design.css" rel="stylesheet" />
<h2 class="display-4">Actas del Comité de Información 2016</h2>
<hr />
<div>
    <h1 class="lead"><strong>Sesiones ordinarias</strong></h1>
    <div class="">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/acta 01 enero 2016.pdf">Enero 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/FEB.pdf">Febrero 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/MAR.pdf">Marzo 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/ABRIL.pdf">Abril 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/ACTA MAYO copladenay 2016.pdf">Mayo 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/JUN.pdf">Junio 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/JUL.pdf">Julio 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/AGO.pdf">Agosto 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/SEP.pdf">Septiembre 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/OCT.pdf">Octubre 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/NOV.pdf">Noviembre 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/DIC.pdf">Diciembre 2016</a>
        <br />
    </div>
    <br />
    <h1 class="lead"><strong>Sesiones ExtraOrdinarias</strong></h1>
    <div class="">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/EXTRAJUL.pdf">Julio 2016</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2016/EXTRASEP.pdf">Septiembre 2016</a>
    </div>

</div>

