
@{
    ViewBag.Title = "ActasComite2017";
}

<link href="~/Content/css/Design.css" rel="stylesheet" />
<h2 class="display-4">Actas del Comité de Información 2017</h2>
<hr />
<div>
    <h1 class="lead"><strong>Sesiones ordinarias</strong></h1>
    <div class="">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/acta 01 enero 2017.pdf">Enero 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/FEB.pdf">Febrero 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/MAR.pdf">Marzo 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/ABRIL.pdf">Abril 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/ACTA MAYO copladenay 2017.pdf">Mayo 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/JUN.pdf">Junio 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/JUL.pdf">Julio 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/AGO.pdf">Agosto 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/SEP.pdf">Septiembre 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/OCT.pdf">Octubre 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/NOV.pdf">Noviembre 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/DIC.pdf">Diciembre 2017</a>
        <br />
    </div>
    <br />
    <h1 class="lead"><strong>Sesiones ExtraOrdinarias</strong></h1>
    <div class="">
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/EXTRAJUL.pdf">Julio 2017</a>
        <br />
        <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/icono_pdf.png" />
        &nbsp;
        &nbsp;
        <a href="~/Content/Files/Planeacion/ActasComiteInformacion/2017/EXTRASEP.pdf">Septiembre 2017</a>
    </div>

</div>

