
@{
    ViewBag.Title = "SistemaEstatalPlaneacion";
}
<div class="container">
    <h2 class="display-4">Sistema Estatal de Planeación, Programación y Presupuesto</h2>
    <hr />
    <h3 class="lead"><strong>Marco Regulatorio</strong></h3>
    <div id="MarcoRegulatorio">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/LEY DE PLANEACION 09-04-12.pdf" class="lead" style="color:dimgray" target="_blank">Ley de Planeación</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/LEY DE PLANEACION DEL ESTADO DE NAYARIT.pdf" class="lead" style="color:dimgray" target="_blank">Ley de Planeación del Estado de Nayarit</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/REGLAMENTO INTERIOR DE LA SECRETARIA DE PLANEACION PROGRAMACION Y PRESUPUESTO 27-03-2010.pdf" class="lead" style="color:dimgray" target="_blank">Reglamento Interior de la Secretaría de Planeación, Programación y Presupuesto</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/LEY QUE CREA EL COMITE DE PLANEACION PARA EL DESARROLLO DEL ESTADO DE NAYARIT.pdf" class="lead" style="color:dimgray" target="_blank">Ley que crea el Comité de Planeación para el Desarrollo del Estado de Nayarit (COPLADENAY)</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/REGLAMENTO INTERIOR DEL COPLADENAY  19-11-2003.pdf" class="lead" style="color:dimgray" target="_blank">Reglamento Interior del COPLADENAY</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/LEY DE ASOCIACIONES PUBLICO PRIVADAS DEL ESTADO DE NAYARIT.pdf" class="lead" style="color:dimgray" target="_blank">Ley de Asociaciones Público Privadas</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Información de apoyo para la Planeación Municipal 2011 - 2014</strong></h3>
    <div id="PlaneacionMunicipal">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/arm.pdf" class="lead" style="color:dimgray" target="_blank">Análisis de los reglamentos municipales</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="http://www.normateca.gob.mx/Archivos/41_D_1233_11-05-2007.%20Lineamientos%20para%20informar%20sobre%20el%20ejercicio,%2027-Abril-2007.pdf" class="lead" style="color:dimgray" target="_blank">Formato único para información de resultados Ramo 33</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray" target="_blank">Indicadores Financieros Municipales</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/Anexo B3.pdf" class="lead" style="color:dimgray" target="_blank">Indicadores de Marginación y Socioeconómicos</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/evaluacion pobreza nayarit 2012.pdf" class="lead" style="color:dimgray" target="_blank">Indicadores de Salud, Educación, Ingresos Per Cápita (IDH) y Migración a EU</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Programas Federales. Objetivos y Cobertura 2008</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/10lppe.pdf" class="lead" style="color:dimgray" target="_blank">10 Lecciones Prácticas para los Presidentes Electos</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Documentos y Bases para la Planeación Estatal</strong></h3>
    <div id="PlaneacionEstatal">
        &nbsp;
        <a href="http://pnd.gob.mx/" class="lead" style="color:dimgray" target="_blank">Plan Nacional de Desarrollo</a>
        <br />
        &nbsp;
        <a href="http://pnd.gob.mx/" class="lead" style="color:dimgray" target="_blank">Programas Federales</a>
        <br />
        &nbsp;
        <a href="http://presidencia.gob.mx/progsectoriales/" class="lead" style="color:dimgray" target="_blank">Plan Estatal de Desarrollo 2011-2017</a>
        <br />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Programas Sectoriales y Especiales</a>
        <br />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Planes Municipales de Desarrollo</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Marco Presupuestal</strong></h3>
    <div id="MarcoPresupuestal">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/MarcoPresupuestal/presupuesto_egresos_08.pdf" class="lead" style="color:dimgray" target="_blank">Presupuesto de Inversión 2008</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/MarcoPresupuestal/presupuesto_egresos_09.pdf" class="lead" style="color:dimgray" target="_blank">Presupuesto de Inversión 2009</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/MarcoPresupuestal/presupuesto_egresos_2010.pdf" class="lead" style="color:dimgray" target="_blank">Presupuesto de Inversión 2010</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/MarcoPresupuestal/pef 2012-2013.pdf" class="lead" style="color:dimgray" target="_blank">Presupuesto de Inversión 2012-2013</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/LEY DE PLANEACION 09-04-12.pdf" class="lead" style="color:dimgray" target="_blank">Asignaciones para Nayarit en el PEF 2008</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Asignaciones para Nayarit en el PEF 2009</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/MarcoPresupuestal/asignaciones_pef_nay_10.pdf" class="lead" style="color:dimgray" target="_blank">Asignaciones para Nayarit en el PEF 2010</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Asignaciones para Nayarit en el PEF 2012</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Asignaciones para Nayarit en el PEF 2013</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Evaluación</strong></h3>
    <div id="Evaluacion">
        <h3 class="lead">Correspondencia entre la Cuenta Pública y el Plan Estatal de Desarrollo</h3>
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/Evaluacion/correspondencia_ped.pdf" class="lead" style="color:dimgray" target="_blank">2005</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/Evaluacion/CORRESPONDENCIA PED-CTA.PUB.pdf" class="lead" style="color:dimgray" target="_blank">2006</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/Evaluacion/CORRESPONDENCIA PED_2007.pdf" class="lead" style="color:dimgray" target="_blank">2007</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/Evaluacion/correspondencia_PED_2008.pdf" class="lead" style="color:dimgray" target="_blank">2008</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/Evaluacion/correspondencia_cta_ped_2009.pdf" class="lead" style="color:dimgray" target="_blank">2009</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Informes de Gobierno</strong></h3>
    <div id="Evaluacion">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="https://www.nayarit.gob.mx/transparenciafiscal/rendiciondecuentas/informes_gobierno_05-011/primer_informe_cuadernillo.pdf" class="lead" style="color:dimgray" target="_blank">2012</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Comparecencias de los Secretarios a la Legislatura Local con motivo de los Informes de Gobierno:</strong></h3>
    <div id="Evaluacion">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="#" class="lead" style="color:dimgray">Primer Informe / En construcción</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Evaluaciones</strong></h3>
    <div id="Evaluacion">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">2012 / En Construcción</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Información Estadística e indicadores Macro-Económicos</strong></h3>
    <div id="Evaluacion">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="http://www.shcp.gob.mx/POLITICAFINANCIERA/FINANZASPUBLICAS/Paginas/CriteriosGralesPolEco.aspx" class="lead" style="color:dimgray" target="_blank">Criterios Generales de Política Económica para México</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/InformacionEstadisticaIndicadoresMacro/prespectica economica 2013.pdf" target="_blank" class="lead" style="color:dimgray">Perspectivas económicas para el 2013</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="http://www.anterior.banxico.org.mx/informacion-para-la-prensa/comunicados/resultados-de-encuestas/expectativas-de-los-especialistas/"  target="_blank" class="lead" style="color:dimgray">Espectativas de los especialistas en economia 2013</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/InformacionEstadisticaIndicadoresMacro/iniciativa_lif_2013.pdf" class="lead" target="_blank" style="color:dimgray">Lineamientos Económicos para el Presupuesto de Egresos de la Federación 2013</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="https://www.banamex.com/economia-finanzas/es/mercado-de-divisas/index.html" class="lead" style="color:dimgray" target="_blank">Indicadores estatales demográficos y de actividad productiva. Febrero 2008. Banamex</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="https://venus.indetec.gob.mx/error?id=404&ip=200.52.217.234&method=GET&scheme=http&host=www.indetec.gob.mx&uri=/e-financiero1/Boletin142/banamex01-documentos-irae-0209-pdf.pdf&qs=" target="_blank" class="lead" style="color:dimgray">Indicadores estatales demográficos y de actividad productiva. Febrero 2009. Banamex</a>
    </div>
    <hr />
    <h3 class="lead"><strong>Producto Interno Bruto :</strong></h3>
    <div id="Evaluacion">
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">INEGI: Producto Interno Bruto 2006.</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">Banamex: Producto Interno Bruto 2007.</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">INEGI: Producto Interno Bruto por entidad federativa 2001 - 2006</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">INEGI: Producto Interno Bruto 2003 - 2007</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="~/Content/Files/Planeacion/SistemaEstatal/ProductoInternoBruto/pib_2008_inegi.pdf" target="_blank" class="lead" style="color:dimgray">INEGI: Producto Interno Bruto 2008</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">INEGI: Producto Interno Bruto 2008</a>
        <br />
        <img src="~/Content/Files/Planeacion/pdf_gray-02.png" style="width:3%;" />
        &nbsp;
        <a href="" class="lead" style="color:dimgray">INEGI: Producto Interno Bruto por entidad federatica 2007-2011</a>

    </div>
    <hr />
</div>


