
@{
    ViewBag.Title = "ArmonizacionContable2019";
}

<link href="~/Content/css/Design.css" rel="stylesheet" />

<h2 class="display-4 text-center">Armonizacion Contable 2019</h2>
<table class="table-responsive">
    <tr>
        <td colspan="2">
            <div align="center">
                <h1 class="text-center">Contenido Contable</h1>
            </div>
        </td>
        <td><h1>&nbsp;</h1></td>
        <td><h1>&nbsp;</h1></td>
        <td><h1 class="text-center">Contenido Presupuestario</h1></td>
    </tr>
    <tr>
        <td colspan="5"><div align="center">..............................................................................................................................................................................</div></td>
    </tr>
    <tr>
        <td width="16" height="18"></td>
        <td width="265"><h3 align="left">Estado de Actividades</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico de Ingresos</h3></td>
    </tr>
    <tr>
        <td width="16" height="18">
            <div align="center">
                <img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16">
            </div>
        </td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EstadoActividades/2._ESTADO DE ACTIVIDADES_REACTIVO_D.2.1.pdf" target="_blank">01/ene/2019 al 31/mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EstadoAnaliticoActivo/9._ESTADO ANALITICO DEL ACTIVO_REACTIVO_D.2.8.pdf" target="_blank">al 31/mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"></td>
        <td width="265"><h3 align="left">Estado de Situación Financiera</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.Administrativa</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/SituacionFinanciera/3._SITUACIÓN FINANCIERA__REACTIVO_D.2.2.pdf" target="_blank">al 31/mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EjercicioClasficAdministrativa/12._ESTADO ANALITICO_CLASIFICACIÓN ADMINISTRATIVA_REACTIVO_D.3.2.pdf" target="_blank">01/ene/2019 Al 31/mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado de Variación en la Hacienda Pública</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.Económica</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/HaciendaPublica/4._ESTADO DE VARIACIONES_HACIENDA PUBLICA_REACTIVO_D.2.3.pdf" target="_blank">01/ene/2019 Al 31/mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EjercicioClasficEconomica/13._ESTADO ANALITICO_CLASIFICACIÓ ECONÓMICA_REACTIVO_D.3.3.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"></td>
        <td width="265"><h3 align="left">Estado de Cambios en la Situación Financiera</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.por Objeto de Gasto</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/CambiosSituacionFinanciera/5._ESTADO DE CAMBIOS_REACTIVO_D.2.4.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EjercicioClasficObjetodeGasto/14._ESTADO ANALITICO_OBJETODEL GASTO_REACTIVO_D.3.4.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado de Flujos de Efectivo</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.Funcional</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/FlujosdeEfectivo/6._ESTADO DE FLUJOS_REACTIVO_D.2.5.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EjercicioClasficFuncional/15._ESTADO ANALITICO_FINALIDAD Y FUNCIÓN_REACTIVO_D.3.5.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Notas a los Estados Financieros</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284"><h3 align="left">Estado de Endeudamiento Neto</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/NotasAlosEstadosFinancieros/8._NOTAS A LOS ESTADOS FINANCIEROS_REACTIVO_D.2.7.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EndeudamientoNeto/16._ENDEUDAMIENTO NETO_REACTIVO_D.3.6.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado Analítico del Activo</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284"><h3 align="left">Estado de Intereses de la Deuda</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/EstadoAnaliticoActivo/9._ESTADO ANALITICO DEL ACTIVO_REACTIVO_D.2.8.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/InteresDeLaDeuda/17._INTERES DE LA DEUDA_REACTIVO_D.3.7.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado Analítico de la Deuda y Otros Pasivos</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/AnaliticoDeLaDeudayOtrosPasivos/10._ESTADO ANALITICO DE LA DEUDA Y OTROS PASIVOS_REACTIVO_D.2.9.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <div align="center">
                <h1>Contenido Programático</h1>
            </div>
        </td>
        <td><h1>&nbsp;</h1></td>
        <td><h1>&nbsp;</h1></td>
        <td><h1 align="center">Obligaciones de Transparencia, título V de la LGCG</h1></td>
    </tr>
    <tr>
        <td colspan="5"><div align="center">..........................................................................................................................................................................</div></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Gasto por Categoría Programática</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Montos pagados por Ayudas y Subsidios</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/GastoCategoriaProgramatica/18._GASTO POR CATEGORIA PROGRAMÁTICA_REACTIVO_D.4.1.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/MontosPagadosPorAyudasSubsidios/1._MONTOS PAGADOS POR CONCEPTO DE AYUDAS Y SUBSIDIOS_REACTIVO_D.1.11.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Indicadores de Resultados</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2019/IndicadoresDeResultados/19._PRESUPUESTO BASADO EN RESULTADOS_MIR_REACTIVO_D.4.2.pdf" target="_blank">Del 01/ene/2019 Al 31 /mar/2019</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>

</table>
