
@{
    ViewBag.Title = "ArmonizacionContable2018";
}
<link href="~/Content/css/Design.css" rel="stylesheet" />

<h2 class="display-4 text-center">Armonizacion Contable 2018</h2>
<table class="table-responsive">
    <tr>
        <td colspan="2">
            <div align="center">
                <h1 class="text-center">Contenido Contable</h1>
            </div>
        </td>
        <td><h1>&nbsp;</h1></td>
        <td><h1>&nbsp;</h1></td>
        <td><h1 class="text-center">Contenido Presupuestario</h1></td>
    </tr>
    <tr>
        <td colspan="5"><div align="center">..............................................................................................................................................................................</div></td>
    </tr>
    <tr>
        <td width="16" height="18"></td>
        <td width="265"><h3 align="left">Estado de Actividades</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico de Ingresos</h3></td>
    </tr>
    <tr>
        <td width="16" height="18">
            <div align="center">
                <img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16">
            </div>
        </td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EstadoActividades/ESTADO DE ACTIVIDADES.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EstadoAnaliticoActivo/ESTADO ANALITICO DEL ACTIVO.pdf" target="_blank">al 30/Jun/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EstadoActividades/D21 E-AC-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EstadoAnaliticoActivo/D28 E-AA-2.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"></td>
        <td width="265"><h3 align="left">Estado de Situación Financiera</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.Administrativa</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/SituacionFinanciera/ESTADO DE SITUACION FINANCIERA.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficAdministrativa/ESTADO ANALITICO DEL EJERCICIO DEL PR. DE EGRE. CLAS. ADMI..pdf" target="_blank">al 30/Jun/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/SituacionFinanciera/D22 E-SF-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficAdministrativa/D32 C-AD-2.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado de Variación en la Hacienda Pública</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.Económica</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/HaciendaPublica/ESTADO DE VARIACIONES EN LA HACIENDA PUBLICA.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficEconomica/ESTADO ANALITICO DEL PRE. DE EGRE. CLAS. ECONOMICA.pdf" target="_blank">al 30/Jun/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/HaciendaPublica/D23 E-VAHP-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficEconomica/D33 C-EC-2.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"></td>
        <td width="265"><h3 align="left">Estado de Cambios en la Situación Financiera</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.por Objeto de Gasto</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/CambiosSituacionFinanciera/ESTADO DE CAMBIOS EN LA SITUACION FINANCIERA.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficObjetodeGasto/ESTADO ANALITICO DEL PRES. DE EGRE. POR OBJETO DE GASTO.pdf" target="_blank">al 30/Jun/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/CambiosSituacionFinanciera/D24 E-CSF-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficObjetodeGasto/D34 C-OB-2.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado de Flujos de Efectivo</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Estado Analítico del Ejercicio -Clasif.Funcional</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/FlujosdeEfectivo/ESTADO DE FLUJO DE EFECTIVO.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficFuncional/ESTADO ANALITICO DEL PRE. DE EGRE. CLASIFICACION FUNCIONAL.pdf" target="_blank">al 30/Jun/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/FlujosdeEfectivo/D25 E-FE-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EjercicioClasficFuncional/D35 C-FU-2.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Notas a los Estados Financieros</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284"><h3 align="left">Estado de Endeudamiento Neto</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/NotasAlosEstadosFinancieros/NOTAS A LOS ESTADOS FINANCIEROS.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EndeudamientoNeto/D36 EN.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/NotasAlosEstadosFinancieros/D27 NOTAS-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado Analítico del Activo</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284"><h3 align="left">Estado de Intereses de la Deuda</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EstadoAnaliticoActivo/ESTADO ANALITICO DEL ACTIVO.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/InteresDeLaDeuda/D37 ID.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/EstadoAnaliticoActivo/D28 E-AA-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Estado Analítico de la Deuda y Otros Pasivos</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/AnaliticoDeLaDeudayOtrosPasivos/ESTADO ANALITICO DE LA DEUDA PUBLICA Y OTROS PASIVOS.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/AnaliticoDeLaDeudayOtrosPasivos/D29 E-AD-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <div align="center">
                <h1>Contenido Programático</h1>
            </div>
        </td>
        <td><h1>&nbsp;</h1></td>
        <td><h1>&nbsp;</h1></td>
        <td><h1 align="center">Obligaciones de Transparencia, título V de la LGCG</h1></td>
    </tr>
    <tr>
        <td colspan="5"><div align="center">..........................................................................................................................................................................</div></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Gasto por Categoría Programática</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"></div></td>
        <td width="284"><h3>Montos pagados por Ayudas y Subsidios</h3></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/GastoCategoriaProgramatica/GASTO POR CATEGORIA PROGRAMATICA.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/MontosPagadosPorAyudasSubsidios/MONTOS PAGADOS POR AYUDAS Y SUBSIDIOS.pdf" target="_blank">al 30/Jun/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/GastoCategoriaProgramatica/D41 G-CP-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" alt="" width="16" height="16"></div></td>
        <td width="284"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/MontosPagadosPorAyudasSubsidios/D111 M-PA-2.pdf" target="_blank">al 30/Sep/2018</a></td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"></div></td>
        <td width="265"><h3 align="left">Indicadores de Resultados</h3></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/IndicadoresDeResultados/INDICADORES DE RESULTADOS.pdf" target="_blank">al 30/Jun/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="18"><div align="center"><img src="~/Content/Files/Transparencia/ArmonizacionContable/acrobat_pdf-02.png" width="16" height="16"></div></td>
        <td width="265"><a href="~/Content/Files/Transparencia/ArmonizacionContable/2018/IndicadoresDeResultados/D42 MIR-2.pdf" target="_blank">al 30/Sep/2018</a></td>
        <td width="20">&nbsp;</td>
        <td width="17">&nbsp;</td>
        <td width="284">&nbsp;</td>
    </tr>

</table>

