
@{
    ViewBag.Title = "ArmonizacionContable";
}

<h2 class="display-4">Armonización Contable</h2>

<a href="@Url.Action("ArmonizacionContable2018","Transparencia")">
    <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2018.jpg" alt="Alternate Text" style="width:15%" />
</a>
<a href="@Url.Action("ArmonizacionContable2019","Transparencia")">
    <img src="~/Content/Files/Planeacion/ActasComiteInformacion/Iconos/actas-2019.jpg" alt="Alternate Text" style="width:15%" />
</a>

